@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



*{

margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
   
   background-color: #191c32;
   background-size: cover;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    padding: 16px 0;
    width: 100%;
    height: 100%;
    background-color:#191c32;
    color: white;
    box-shadow: 0 0.25rem 0 0 aqua;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 8px;
    max-width: 1024px;
    margin: auto;
   
}
.brand span{
    color: aqua;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 8px;
   
    
    
}
.menu li{
    list-style: none;
    

}

.menu a{

    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
.menu .active{

    color: aqua;
}

.menu a:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
    border-radius: 10px;

}
img{

    display: block;
    margin: auto;
}
.main{
    margin: 20px 0;
}
.main__box{
    max-width: 450px;
    background: rgb(63, 63, 184);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    color: white;
    border-radius: 20PX;
    

}
.box__description{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
}

.box__foto-perfil__container{
    max-width: 145px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
   

}
.box__foto-perfil__foto-perfil{
    width: 100%;
    hi
}

.box__description__title{
    text-align: center;
    font-size: 31px;
    color: aqua;
    letter-spacing: 2px;
    font-size: 1.7rem;
}
.box__description__speciality{
    text-align: center;
    letter-spacing: 2px;
    font-size: 1rem;
    color: gold;
}
.box__description__description{
    text-align: center;
    font-weight: 370;
    font-size: 15px;
    letter-spacing: 2px;
}
.box__description__dowload-cv{
    text-align: center;
    text-decoration: none;
    width: 150px;
    padding: 8px 16px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: solid black;
    transition:all 0.5s;
    
}
.box__description__dowload-cv:hover{
    background-color: gold;
    
    transition:all 0.5s;
    
    
}

.about{
    
    width: 1000px;
    color: white;
    text-align: justify;
   
    margin: auto;
}
.brand span{
    color: aqua;
}
.contacto{
    padding: 3em;
    margin: 0 auto;
}
.contacto h2{
    color: aqua;
    margin-left: 100;
    text-align: center;
   
}
.form{
    text-align: center;
}
.input{
    padding: 8px;
    margin: 10px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid aqua;


}
.tipo-radio{

    color: white;
}
.btn-submit{

    

    padding: 10px 43px;
    border-radius: 20px;
    border: none; 
    cursor: pointer; 
 }
 .btn-submit:hover{
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

  .footer{
      color: white;
      text-align: center;
  }
  .footer span{
      color: aqua;
  }
 
